@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-white: #fff;
}

body {
  background: url(img/rings-at-dusk.jpg) no-repeat center center fixed;
  background-size: cover;
  color: var(--color-white);
  font-family: 'Raleway', sans-serif;
  height: 575px;
  width: 775px;
}

header {
  display: flex;
  justify-content: center;
}

#timer {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}

#event__date {
  font-size: 1rem;
  text-align: center;
}

.header__text {
  font-size: 1rem;
  padding-top: 3rem;
}

.main__title {
  font-size: 2rem;
  letter-spacing: 3px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.time_box {
  display: flex;
  float: right;
  font-size: 1rem;
  padding: 2rem 2rem 0 0;
}

.time__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: row;
}

.list__item {
  font-family: 'Orbitron', sans-serif;
}

.list__item__time {
  text-align: center;
}